# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
cmake-build-debug
cmake-build-release
.idea/
/benchmark/lib
/benchmark/datasets/osm
/benchmark/datasets/taxi
/benchmark/datasets/tpch-sf1
/benchmark/datasets/tpch-sf10
/benchmark/results
/benchmark/temp
/partitioner/partitioner
/test/external-merge
/test/external-merge-sort
/test/fixed-grid
/test/grid-file
/test/hilbert-curve
/test/kd-tree
/test/no-partition
/test/quad-tree
/test/str-tree
/test/z-order-curve
