# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
cmake-build-debug
.idea/
/benchmark/datasets/osm
/benchmark/datasets/taxi
/benchmark/datasets/tpch
/test/_lib
/test/FixedGrid
/test/GridFile
/test/KDTree
/test/NoPartition
/test/QuadTree
/test/STRTree
